In [44]:
from urllib.request import urlopen as ureq
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

In [158]:
def enrollment(url):
    uClient = ureq(url)
    class_html = uClient.read()
    uClient.close()
    soup = bs(class_html, "lxml")
    str_soup = str(soup)
    cleaned = re.findall(r'"enrolledCount":.*"openReserved":\d+', str_soup)[0]
    enrolled = re.findall(r'enrolledCount":\d+', cleaned)[0].replace("\"", "")
    seats = re.findall(r'maxEnroll":\d+', cleaned)[0].replace("\"", "")
    reserved = re.findall(r'openReserved":\d+', cleaned)[0].replace("\"", "")
    waitlisted = re.findall(r'waitlistedCount":\d+', cleaned)[0].replace("\"", "")
    enrolled_n = re.findall(r'\d+', enrolled)[0]
    seats_n = re.findall(r'\d+', seats)[0]
    waitlisted_n = re.findall(r'\d+', waitlisted)[0]
    reserved_n = re.findall(r'\d+', reserved)[0]
    return [enrolled_n, seats_n, waitlisted_n, reserved_n]

In [166]:
#input class url's here#
philo121 = "https://classes.berkeley.edu/content/2019-spring-philos-121-001-lec-001"
stat140 = "https://classes.berkeley.edu/content/2019-spring-stat-140-001-lec-001"
socio3ac = "https://classes.berkeley.edu/content/2019-spring-sociol-3ac-001-lec-001"
math53 = "https://classes.berkeley.edu/content/2019-spring-math-53-001-lec-001"
cs195 = "https://classes.berkeley.edu/content/2019-spring-compsci-195-001-lec-001"
cs188 = "https://classes.berkeley.edu/content/2019-spring-compsci-188-001-lec-001"
classes = [philo121, stat140, socio3ac, math53, cs195, cs188] #replace with your classes

In [176]:
data = [enrollment(i) for i in classes]

In [177]:
index = ["Philosophy 121", "Stat 140", "Sociology 3AC", "Math 53", "Compsci 195", "Compsci 188"] #replace with your classes
pd.DataFrame(data, 
             index=index,
             columns=['Enrolled', 'Open', 'Waitlisted', 'Reserved']).sort_index()

               Enrolled Open Waitlisted Reserved
Compsci 188         126  740        152      614
Compsci 195         108  230         47      122
Math 53              52  419          0        0
Philosophy 121        8   45         14       37
Sociology 3AC        83  195         12      112
Stat 140             88  240          0        0